@font-face {
  font-family: 'Goudy Bookletter 1911';
  src: url("../assets/GoudyBookletter1911-Regular.ttf");
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Goudy Bookletter 1911', serif;
  overflow-x: hidden;
  background-color: #383838;
  color: white;
}

.container {
  margin-top: 3em;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #3C3C3C;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none
}

.button-description {
  padding: 0.3em;
}

.button-name {
  font-size: 1.3em;
}

.button:active {
  background-color: #666666;
}

.button-max-buy:hover {
  font-weight: bold;
}

.big-stat {
  font-size: 3em;
  padding: 0.3em;
}

.stat {
  font-size: 1.5em;
}
