<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="libs/vue.js"></script>
    <script type="module" src="js/game.js" defer></script>
    <title>More Letters</title>
  </head>
  <body id="body">
    <div class="container" id="app" :style="!day ? 'color: white;' : ''">
      <div class="bg-color" :style="!day ? 'background-color: #383838;' : ''"></div>
      <div class="top-links">
        <div class="row">
          <div class="column align-right">
            <a @click="newGame()" class="footer-link">new game</a>
          </div>
          <div class="column align-right">
            <a @click="day = !day" class="footer-link">{{ !day ? 'day mode' : 'night mode' }}</a>
          </div>
        </div>
      </div>
      
      <transition name="fade"> 
        <div class="bgs" v-show="day">
          <transition name="fade">
            <img v-show="phase == 1" src="assets/day/1.png" class="background bg0">
          </transition>
          <transition name="fade">
            <img v-show="phase == 2" src="assets/day/2.png" class="background bg1">
          </transition>
          <transition name="fade">
            <img v-show="phase == 3" src="assets/day/3.png" class="background bg2">
          </transition>
          <transition name="fade">
            <img v-show="phase == 4" src="assets/day/4.png" class="background bg3">
          </transition>
          <transition name="fade">
            <img v-show="phase == 5" src="assets/day/5.png" class="background bg4">
          </transition>
          <transition name="fade">
            <img v-show="phase == 6" src="assets/day/6.png" class="background bg5">
          </transition>
          <transition name="fade">
            <img v-show="phase == 7" src="assets/day/7.png" class="background bg6">
          </transition>
        </div>
      </transition>

      <transition name="fade"> 
        <div class="bgs" v-show="!day">
          <transition name="fade">
            <img v-show="phase == 1" src="assets/night/1.png" class="background bg0">
          </transition>
          <transition name="fade">
            <img v-show="phase == 2" src="assets/night/2.png" class="background bg1">
          </transition>
          <transition name="fade">
            <img v-show="phase == 3" src="assets/night/3.png" class="background bg2">
          </transition>
          <transition name="fade">
            <img v-show="phase == 4" src="assets/night/4.png" class="background bg3">
          </transition>
          <transition name="fade">
            <img v-show="phase == 5" src="assets/night/5.png" class="background bg4">
          </transition>
          <transition name="fade">
            <img v-show="phase == 6" src="assets/night/6.png" class="background bg5">
          </transition>
          <transition name="fade">
            <img v-show="phase == 7" src="assets/night/7.png" class="background bg6">
          </transition>
         </div>
      </transition>

      <div class="timed-event"></div>

      <div class="row main-stat" v-if="!read">
        ${{ format(round(money)) }}
      </div>
      
      <div class="row main-stat" v-else>
        {{ format(round(readLetters)) }}<br/>
        <div class="main-stat-label">letters</div>
      </div>

      <div class="row stats" v-show="read">
        <stat name="curiosity" :value="format(round(curiosity))"></stat>
        <stat name="autoreaders" :value="format(round(autoreader))"></stat>
      </div>

      <div class="row stats" v-show="!read">
        <stat name="letters" :value="format(floor(letters))"></stat>
        <stat name="letters delivered" :value="format(floor(lettersDelivered))"></stat>
        <stat name="letters per second" :value="format(lettersPerSecond)"></stat>
      </div>
      <div class="row stats" v-show="!read">
        <stat name="letters per click" :value="format(round(clickInc))"></stat>
        <stat name="letter price" :value="format(round(pricePerLetter * multiplier))"></stat>
        <stat v-show="phase >= 1" name="multiplier" :value="format(multiplier)"></stat>
      </div>
      
      <div class="row stats" v-show="!read">
        <stat v-show="phase >= 1" name="mailmen" :value="format(mailmen)"></stat>
        <stat v-show="phase >= 1" name="mailboxes" :value="format(mailboxes)"></stat>
        <stat v-show="phase >= 2 && phaseType[1] == 'idle'" name="recruiters" :value="format(recruiters)"></stat>
        <stat v-show="phase >= 2" name="factories" :value="format(factories)"></stat> 
      </div>
      <div class="row stats" v-show="!read">
        <stat v-show="phase >= 3 && phaseType[2] == 'idle'" name="segways" :value="format(segways)"></stat>
        <stat v-show="phase >= 4" name="post offices" :value="format(postOffices)"></stat>
        <stat v-show="phase >= 4 && phaseType[3] == 'idle'" name="mail trucks" :value="format(mailTrucks)"></stat>
        <stat v-show="phase >= 6 && phaseType[5] == 'idle'" name="jets" :value="format(jets)"></stat>
      </div>
      
      <div v-show="!read" class="milestone">
        <div class="row" :class='!day ? "btn-night" : ""'>
          <div class="column" v-if="this.nextPhaseAvailable">
            <div class="button" @click="prestige()"> 
              <div class="button-name">
                Enter Phase {{ phase + 1 }}
              </div>
              <div class="button-description">
                This will erase all your progress and give you a 
                x{{ 2 ** (phase) }} multiplier.
              </div>
            </div>
          </div>
          <div v-else class="column">
            Next milestone at {{ format(nextPhaseAt) }} letters delivered
          </div>
        </div>
      </div>
    
      <!-- Delivery Button -->

      <div v-show="read && readLetters > 0" class="buttons" :class="!day ? 'btn-night' : ''">
        <div class="row">
          <div class="column">
            <div class="button" @click="clickRead">
              Read Letter
            </div>
          </div>
        </div>

        <div class="row">
          <div class="column">
             <buy-button 
               this-phase-type="either"
               :phase="phase"
               :phase-min="1"
               
               curiosity="true"
               title="Auto Reader"
               @buy="buyAutoReader()"
               :price="format(autoreaderPrice)"
               :description="autoreaderDescription"
               :max-buy="true"
               @buy-max="buyMaxAutoReader()">
            </buy-button>
          </div>
        </div>
      </div>

      <div v-show="read && readLetters <= 0" class="letter" :class="!day ? 'letter-night' : ''">
        <div class="row">
          <div class="column">
            There will be something interesting here... not sure what yet. If you got this far thanks for playing. 
          </div>
        </div>
      </div>

      <div v-show="!read" class="buttons" :class="!day ? 'btn-night' :''">
        <div class="row">
          <div class="column">
            <div class="button" @click="clickDeliver">
              Deliver Letter
            </div>
          </div>
        </div>
        
        <!-- End Delivery Button -->

        <transition name="fade">
          <div class="row" :class="!day ? 'btn-night' :''">
            <!-- Phase 1 -->
            <buy-button 
               this-phase-type="either"
               :phase="phase"
               :phase-min="1"
               
               title="Mailman"
               @buy="buyMailman()"
               :price="format(mailmanPrice)"
               :description="mailmanDescription"
               :max-buy="true"
               @buy-max="buyMax(buyMailman)">
            </buy-button>

            <buy-button
               this-phase-type="either"
               :phase="phase"
               :phase-min="1"

               title="Mailbox"
               @buy="buyMailbox()"
               @buy-max="buyMax(buyMailbox)"
               :price="format(mailboxPrice)"
               :max-buy="true"
               :description="mailboxDescription"
            ></buy-button>
            
            <buy-button
               this-phase-type="either"
               :phase="phase"
               :phase-min="1"

               title="Bootstrap"
               @buy="buyBootstrap()"
               @buy-max="buyMax(buyBootstrap)"
               :price="format(bootstrapPrice)"
               :description="bootstrapDescription"
               :max-buy="true">
            </buy-button>
            <!-- end -->
          </div>
        </transition>
        
        <transition name="fade">
          <div class="row" :class="!day ? 'btn-night' :''">
            <!-- Phase 2 -->
            <buy-button
                this-phase-type="idle"
               :phase="phase"
               :phase-min="2"
               :phase-type="phaseType[1]"

               title="Recruiter"
               @buy="buyRecruiter()"
               @buy-max="buyMax(buyRecruiter)"
               :max-buy="true"
               :price="format(recruiterPrice)"
               :max-buy="true"
               :description="recruiterDescription" 
            ></buy-button>
           
            <buy-button
              this-phase-type="active"
              :phase="phase"
              :phase-min="2"
              :phase-type="phaseType[1]"

              title="Two Hands"
              @buy="buyTwoHands()"
              :owned="twoHands"
              :price="format(twoHandsBasePrice)"
              :description="twoHandsDescription"
            ></buy-button>

            <buy-button
               this-phase-type="either"
               :phase="phase"
               :phase-min="2"
               
               title="Factory"
               @buy="buyFactory()"
               @buy-max="buyMax(buyFactory)"
               :max-buy="true"
               :price="format(factoryPrice)"
               :description="factoryDescription"
            ></buy-button>
            
            <!-- end -->

            <!-- Phase 3 -->

            <buy-button
                this-phase-type="idle"
               :phase="phase"
               :phase-min="3"
               :phase-type="phaseType[2]"

               title="Segway"
               @buy="buySegway()"
               @buy-max="buyMax(buySegway)"
               :max-buy="true"
               :price="format(segwayPrice)"
               :description="segwayDescription"
            ></buy-button> 
            
            <buy-button
               this-phase-type="active"
               :phase-min="3"
               :phase-type="phaseType[2]"
               :phase="phase"

               title="Two for One"
               description="Doubles Bootstrap letters per click interval"
               @buy="buyTwoForOne()"
               :owned="twoForOne"
               :price="format(twoForOneBasePrice)"
            ></buy-button>
              
            <buy-button
               this-phase-type="either"
               :phase="phase"
               :phase-min="3"

               title="Scientific Management"
               @buy="buyScientificManagement()"
               :owned="scientificManagement"
               :price="format(scientificManagementBasePrice)"
               :description="scientificManagementDescription"
            ></buy-button>

            <!-- end -->
          </div>
        </transition>

        <!-- Phase 4 and 5 -->
        
        <transition name="fade">
          <div class="row" :class="!day ? 'btn-night' :''">
            <buy-button
              this-phase-type="either"
              :phase-min="4"
              :phase="phase"

              title="Post Office"
              @buy="buyPostOffice()"
              @buy-max="buyMax(buyPostOffice)"
              :price="format(postOfficePrice)"
              :max-buy="true"
              :description="postOfficeDescription"
            ></buy-button>

            <buy-button
               this-phase-type="active"
               :phase-min="4"
               :phase-type="phaseType[3]"
               :phase="phase"
               title="Little Help"
               @buy="buyLittleHelp()"
               :price="format(littleHelpBasePrice)"
               :owned="littleHelp"
               :description="littleHelpDescription"
            ></buy-button>

            <buy-button
              this-phase-type="idle"
              :phase-min="4"
              :phase-type="phaseType[3]"
              :phase="phase"
                           
              title="Mail Truck"
              :description="mailTruckDescription"
              :price="format(mailTruckPrice)"
              @buy="buyMailTruck()"
              @buy-max="buyMax(buyMailTruck)"
              :max-buy="true" 
            ></buy-button> 
           
            <buy-button
               this-phase-type="active"
               :phase-min="5"
               :phase-type="phaseType[4]"
               :phase="phase"
               title="Spontaneous Generation"
               @buy="buySpontaneousGeneration()"
               :owned="spontaneousGeneration"
               :price="format(spontaneousGenerationBasePrice)"
               :description="spontaneousGenerationDescription"
            ></buy-button>

            <buy-button
              this-phase-type="idle"
              :phase-min="5"
              :phase-type="phaseType[4]"
              :phase="phase"

              title="Caffeine"
              :description="caffeineDescription"
              :price="format(caffeineBasePrice)"
              @buy="buyCaffeine()"
              :owned="caffeine"
            ></buy-button>

            <buy-button
              :phase="phase"
              :phase-min="5"
              :phase-type="phaseType[4]"
              this-phase-type="idle"

              title="Jet"
              :price="format(jetPrice)"
              :max-buy="true"
              @buy="buyJet()"
              @buy-max="buyMax(buyJet)"
              :description="jetsDescription" 
            ></buy-button> 

          </div>

        </transition>

        <transition name="fade">
          <div class="row" :class="!day ? 'btn-night' :''">

            <buy-button
              this-phase-type="either"
              :phase-min="6"
              :phase-type="phaseType[5]"
              :phase="phase"

              title="Email"
              :price="format(emailBasePrice)"
              :owned="email"
              @buy="buyEmail()"
              :description="emailDescription"
            ></buy-button> 

            <buy-button
              :phase="phase"
              :phase-min="6"
              :phase-type="phaseType[5]"
              this-phase-type="active"

              title="Inflation"
              :description="inflationDescription"
              :price="format(inflationBasePrice)"
              @buy="buyInflation()"
              :owned="inflation"
            ></buy-button>

            <buy-button
              :phase="phase"
              :phase-min="6"
              this-phase-type="either"

              title="Big Net"
              :description="bigNetDescription"
              :price="format(bigNetBasePrice)"
              @buy="buyBigNet()"
              :owned="bigNet"
            ></buy-button>
             
            <buy-button
               :phase="phase"
               :phase-min="7"
               :phase-type="phaseType[6]"
               this-phase-type="active"

               title="Self-Reliance"
               :owned="selfReliance"
               @buy="buySelfReliance()"
               :price="format(selfRelianceBasePrice)"
               :description="selfRelianceDescription"
            ></buy-button>
 

            <buy-button
              :phase="phase"
              :phase-min="7"
              :phase-type="phaseType[6]"
              this-phase-type="idle"

              title="Mail Drones"
              :description="mailDronesDescription"
              :price="format(mailDronesBasePrice)"
              @buy="buyMailDrones()"
              :owned="mailDrones" 
            ></buy-button> 
            
            <buy-button
              :phase="phase"
              :phase-min="7"
              this-phase-type="either"

              title="Mailware"
              @buy="buyMailware"
              :owned="mailware"
              :price="format(mailwareBasePrice)"
              :description="mailwareDescription"
            ></buy-button>
          </div>
        </transition>
      </div>
    </div>
  </body>
</html>
